.git
.env
.env.*
!.env.example
node_modules
vendor
storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
database/database.sqlite
.DS_Store
.idea
.vscode
.railway
